# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Keep lock files
!.terraform.lock.hcl
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
